/**********************HOVER EFFECTS***********************/
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  z-index: 10;
}

div.gallery figcaption {
  height: 100%;
  width: 100%;
  opacity: 0;
  backface-visibility: hidden;
  box-shadow: 0 0 0 0px navy;
  transition: opacity .3s, height .3s, box-shadow .3s;
}

.no-touch div.gallery figure:hover figcaption,
div.gallery figure.cs-hover figcaption {
  opacity: 1;
  height: 130%;
  box-shadow: 0 0 0 10px #50a14f;
}

div.gallery figcaption h4 {
  margin-top: 86%;
}

div.gallery figcaption h4,
div.gallery figcaption a {
  opacity: 0;
  transition: opacity 0s;
}

div.gallery figcaption a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.no-touch div.gallery figure:hover figcaption h4,
.no-touch div.gallery figure:hover figcaption a,
div.gallery figure.cs-hover figcaption h4,
div.gallery figure.cs-hover figcaption a {
  transition: opacity .3s .2s;
  opacity: 1;
}

div.gallery img {

}
/********************END OF HOVER EFFECTS********************/

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

div.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Navbar on side */
/* body {
margin: 0;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 25%;
background-color: #f1f1f1;
position: fixed;
height: 100%;
overflow: auto;
}

li a {
display: block;
color: #000;
padding: 8px 16px;
text-decoration: none;
}

li a.active {
background-color: #4CAF50;
color: white;
}

li a:hover:not(.active) {
background-color: #555;
color: white;
}
*/

/*********************Store Front Display *************************/
body {
  margin: auto;
  width: 80%;
  background-image: url("https://opengameart.org/sites/default/files/seamless%20space_0.PNG");
  background-repeat: repeat-y;
  background-color: black;
}

/*********************Store Front Display END *************************/

/*********************Navigation *****************************/

div.storehead {
  background-color: white;
  position: static;
  overflow: hidden;
  top: 0;
  width: 100%;
}

div.storehead h1,
div.storehead h3 {
  font-family: 'Montserrat', sans-serif;
}

div.storehead ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}


div.storehead li {
  display: inline;
}
/*********************Navigation END**********************************/

